<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461850145297-1mgb32aba2ldldq684vgs3ssg65kdn1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461850145297-1mgb32aba2ldldq684vgs3ssg65kdn1u</string>
	<key>API_KEY</key>
	<string>AIzaSyCp7Kt9MJjT-V8aCgZyCTZRoZU80AtQ1zI</string>
	<key>GCM_SENDER_ID</key>
	<string>461850145297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dogukan.dogan.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-860be</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-860be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461850145297:ios:f03132cc42bcc761d4f7b0</string>
</dict>
</plist>